  <!DOCTYPE html>
  <html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
  </head>
  <body>
      <h1 style="background-color: yellow;color:black;font-family: arial;text-align:center;border-radius: 4px;"> Student Management System </h1>

        <div>
          <h3> Create Person</h3>
          <p th:text = "${success}"></p>
      <form action="api/v1/person" method="POST">
          <input type="text" name="fname" placeholder="First Name"><br>
          <input type="text" name="lname" placeholder="Last Name"><br>
          <input type="email" name="email" placeholder="Email"><br>
          <input type="phone" name="phone" placeholder="Phone Number"><br>

          <input type="submit" value="Submit">
      </form>
       </div>
       
              <div>
            <h3> Update Person </h3>
            <h4>If you use postman write this link and select the PUT method to change the Person  = (api/v1/person/{id}) </h4>
      <form action="api/v1/person/" method="POST">
     	<input type="text" name="id" ><br>
     	<input type="text" name="fname" ><br>
     	<input type="text" name="lname"><br>
     	<input type="email" name="email" ><br>
     	<input type="phone" name="phone"  ><br>
          <input type="submit" value="Submit">
      </form>
       </div>
       
       
         </body>
  </html>